<div class="filterDiv">
    <div class="card">
        <form method="POST">
            <table class="table table-borderless mt-2">
                <tbody>
                    <tr class="text-center">
                        <td>სადგურის ტიპი:</td>
                        <td class="text-start">
                            <label class="form-check-label me-3" for="CheckGreen">
                                <input class="form-check-input" type="checkbox" value="" id="CheckGreen" />
                                <img src="../static/img/green.png" width="17" height="17">
                            </label>
                            <label class="form-check-label me-3" for="CheckYellow">
                                <input class="form-check-input" type="checkbox" value="" id="CheckYellow" />
                                <img src="../static/img/yellow.png" width="17" height="17">
                            </label>
                            <label class="form-check-label" for="CheckRed">
                                <input class="form-check-input" type="checkbox" value="" id="CheckRed" />
                                <img src="../static/img/red.png" width="17" height="17">
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center pt-3">სადგურის კოდი:</td>
                        <td>
                            <label class="form-label" for="form12"><input type="text" id="form12" class="form-control form-control-sm" /></label>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center pt-3">ქსელის კოდი:</td>
                        <td>
                            <label class="form-label" for="form12"><input type="text" id="form12" class="form-control form-control-sm" /></label>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center pt-3">თარიღი (დან):</td>
                        <td>
                            <label class="form-label" for="form12"><input type="text" id="form12" class="form-control form-control-sm" /></label>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center pt-3">თარიღი (მდე):</td>
                        <td>
                            <label class="form-label" for="form12"><input type="text" id="form12" class="form-control form-control-sm" /></label>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-end"><a class="btn btn-sm btn-primary" href="#">გაფილტვრა</a></td>
                        <td><a class="btn btn-sm btn-primary" href="#">გასუფთავება</a></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="card">
        <table class="table table-borderless">
            <tbody>
                <tr class="text-center">
                    <td class="text-end"><img src="../static/img/green.png" width="17" height="17"></td>
                    <td class="text-start">მოქმედი სეისმური სადგური</td>
                </tr>
                <tr class="text-center">
                    <td class="text-end"><img src="../static/img/yellow.png" width="17" height="17"></td>
                    <td class="text-start">დროებითი სეისმური სადგური</td>
                </tr>
                <tr class="text-center">
                    <td class="text-end"><img src="../static/img/red.png" width="17" height="17"></td>
                    <td class="text-start">შეჩერებული სეისმური სადგური</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>