<div class="filterDiv">
    <div class="card mt-2">
        <form method="POST">
            <table class="table table-borderless mt-2">
                <tbody>
                    <tr class="text-center">
                        <td>პროექტის ტიპი:</td>
                        <td class="text-start">
                            <label class="form-check-label me-2" for="CheckWarning">
                                <input class="form-check-input" type="checkbox" value="" id="CheckWarning" />
                                <img src="../static/img/warning.png" width="15" height="15">
                            </label>
                            <label class="form-check-label me-2" for="CheckSuccess">
                                <input class="form-check-input" type="checkbox" value="" id="CheckSuccess" />
                                <img src="../static/img/success.png" width="15" height="15">
                            </label>
                            <label class="form-check-label me-2" for="CheckPrimary">
                                <input class="form-check-input" type="checkbox" value="" id="CheckPrimary" />
                                <img src="../static/img/primary.png" width="15" height="15">
                            </label>
                            <label class="form-check-label me-2" for="CheckSecondary">
                                <input class="form-check-input" type="checkbox" value="" id="CheckSecondary" />
                                <img src="../static/img/secondary.png" width="15" height="15">
                            </label>
                            <label class="form-check-label me-2" for="CheckInfo">
                                <input class="form-check-input" type="checkbox" value="" id="CheckInfo" />
                                <img src="../static/img/info.png" width="15" height="15">
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center pt-3">პროექტის სახელი:</td>
                        <td>
                            <label class="form-label" for="form12"><input type="text" id="form12" class="form-control form-control-sm" /></label>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center pt-3">ხელშეკრულების ნომერი:</td>
                        <td>
                            <label class="form-label" for="form12"><input type="text" id="form12" class="form-control form-control-sm" /></label>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center pt-3">თარიღი (დან):</td>
                        <td>
                            <label class="form-label" for="form12"><input type="text" id="form12" class="form-control form-control-sm" /></label>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center pt-3">თარიღი (მდე):</td>
                        <td>
                            <label class="form-label" for="form12"><input type="text" id="form12" class="form-control form-control-sm" /></label>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-end"><a class="btn btn-sm btn-primary" href="#">გაფილტვრა</a></td>
                        <td><a class="btn btn-sm btn-primary" href="#">გასუფთავება</a></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="card">
        <table class="table table-borderless">
            <tbody>
                <tr class="text-center">
                    <td class="text-end"><img src="../static/img/warning.png" width="17" height="17"></td>
                    <td class="text-start">გაკეთდა გეოლოგიური კვლევა</td>
                </tr>
                <tr class="text-center">
                    <td class="text-end"><img src="../static/img/success.png" width="17" height="17"></td>
                    <td class="text-start">გაკეთდა გეოფიზიკური კვლევა</td>
                </tr>
                <tr class="text-center">
                    <td class="text-end"><img src="../static/img/primary.png" width="17" height="17"></td>
                    <td class="text-start">გაკეთდა სეისმური საშიშროების შეფასება</td>
                </tr>
                <tr class="text-center">
                    <td class="text-end"><img src="../static/img/secondary.png" width="17" height="17"></td>
                    <td class="text-start">გაკეთდა გეოდეზიური კვლევა</td>
                </tr>
                <tr class="text-center">
                    <td class="text-end"><img src="../static/img/info.png" width="17" height="17"></td>
                    <td class="text-start">გაკეთდა სხვა ტიპის კვლევა</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>