<div class="card mt-2 filterDiv">
    <form method="POST">
        <table class="table table-borderless border-bottom mt-2">
            <tbody>
                <tr>
                    <td class="text-center pt-3">ხელშეკრულების ნომერი:</td>
                    <td>
                        <label class="form-label" for="form12">
                            <input type="text" id="form12" class="form-control form-control-sm" placeholder=""/>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td class="text-center pt-3">VS30 Range:</td>
                    <td>
                        <label class="form-label" for="formVS30">
                            <input type="text" id="formVS30" class="form-control form-control-sm" placeholder="VS30 Range"/>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <select class="form-select form-select-sm text-center" aria-label=".form-select-sm example">
                            <option selected>Select PGA</option>
                            <option value="1">1%</option>
                            <option value="2">2%</option>
                            <option value="5">5%</option>
                            <option value="7">7%</option>
                            <option value="10">10%</option>
                        </select>
                    </td>
                    <td>
                        <label for="pgaValue" class="form-label">
                            <div class="col me-1">
                                <input type="number" id="pgaValue" class="form-control form-control-sm col" placeholder="PGA number" />
                            </div>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td class="text-center pt-3">თარიღი (დან):</td>
                    <td>
                        <label class="form-label" for="form12">
                            <input type="date" class="form-control form-control-sm" id="startTime" name="start_time" required>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td class="text-center pt-3">თარიღი (მდე):</td>
                    <td>
                        <label class="form-label" for="form12">
                            <input type="date" class="form-control form-control-sm" id="endTime" name="end_time" required>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td class="text-end"><a class="btn btn-sm btn-primary" href="#">გაფილტვრა</a></td>
                    <td><a class="btn btn-sm btn-primary" href="#">გასუფთავება</a></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>