{% extends "base.html" %}

{% block title %}
    IesData - Projects
{% endblock %}

{% block body %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/projects/projects.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/projects/map.js') }}" defer></script>
    <div class="filterMapDiv">
        {% include "filter_project.html" %}

        <div id="mapDiv" class="card mt-2">
            <div id="map" 
                style="width: 100%; height:100%; border: 1px solid #CCC; border-radius: 5px; margin-top:0px;">
            </div>
        </div>
    </div>
    <ul class="list-group list-group-light">
        <li class="list-group-item px-3 border-0"><a class="btn btn-sm btn-primary" href="/create_project">პროექტის დამატება</a></li>
    </ul>
    
    <div class="table-responsive-xxl text-center mt-1 mb-3" style="font-size: x-small;">
        <table class="table align-middle table-bordered border-muted mb-0 bg-white table-striped">
            <thead class="table-primary">
                <tr>
                    <th>პროექტის სახელი</th>
                    <th>ხელშეკრულების ნომერი</th>
                    <th>დაწყების დღე</th>
                    <th>დასრულების დღე</th>
                    <th>დამკვეთი</th>
                    <th>ადგილმდებარეობა</th>
                    <th>განედი</th>
                    <th>გრძედი</th>
                    <th>გეოლოგიური კვლევა</th>
                    <th>გეოფიზიკური კვლევა</th>
                    <th>სეისმური საშიშროების შეფასება</th>
                    <th>გეოდეზიური კვლევა</th>
                    <th>სხვა ტიპის კვლევა</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="projectTableBody">
                <!-- Data will be populated dynamically here -->
            </tbody>
        </table>
    </div>
{% endblock %}