{% extends "base.html" %}

{% block title %}
    IesData - View Project
{% endblock %}

{% block body %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/geological.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/geophysical.js') }}" defer></script>
    <div id="projectId" data-project-id="{{ project_id }}"></div>
    <div style="display: flex; flex-direction: row; height: 50%;">
        <div class="card mt-2 w-50">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>პროექტის სახელი:</th>
                        <td id="projectName"></td>
                    </tr>
                    <tr>
                        <th>ხელშეკრულების ნომერი:</th>
                        <td id="contractNumber"></td>
                    </tr>
                    <tr>
                        <th>დაწყების დღე:</th>
                        <td id="startTime"></td>
                    </tr>
                    <tr>
                        <th>დასრულების დღე:</th>
                        <td id="endTime"></td>
                    </tr>
                    <tr>
                        <th>დამკვეთი:</th>
                        <td id="contractor"></td>
                    </tr>
                    <tr>
                        <th>პროექტის მდებარეობა:</th>
                        <td id="projLocation"></td>
                    </tr>
                    <tr>
                        <th>განედი:</th>
                        <td id="projLatitude"></td>
                    </tr>
                    <tr>
                        <th>გრძედი:</th>
                        <td id="projLongitude"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card mt-2" style="width: 100%; height: 28.5rem">
            <img id="projectImage" src="https://storage.googleapis.com/bd-ge-01/buildings-v2/2560x1920/20057.jpg" alt="Project Image" style="width: 100%; height: 100%; object-fit: cover;">
        </div>
    </div>

    <div class="table-responsive-xxl table-bordered text-center" style="font-size: x-small;">
        <table class="table align-middle rounded-2 border-muted mb-0 bg-white">
            <td>
                <a class="btn btn-sm btn-warning" style="font-size: x-small;" href="#">გეოლოგიური კვლევის დამატება</a>
            </td>
            <td>
                <a class="btn btn-sm btn-success" style="font-size: x-small;" href="#">გეოფიზიკური კვლევის დამატება</a>
            </td>
            <td>
                <a class="btn btn-sm btn-primary" style="font-size: x-small;" href="#">სეისმური საშიშროების შეფასების დამატება</a>
            </td>
            <td>
                <a class="btn btn-sm btn-secondary" style="font-size: x-small;" href="#">გეოდეზიური კვლევის დამატება</a>
            </td>
            <td>
                <a class="btn btn-sm btn-info" style="font-size: x-small;" href="#">სხვა ტიპის კვლევის დამატება</a>
            </td>
        </table>
    </div>

    <!-- for Geological -->
    <div class="table-responsive-xxl text-center mt-2" style="font-size: x-small;">
        <table class="table align-middle table-bordered rounded-2 border-muted mb-0 bg-white table-striped">
            <thead class="table-warning">
                <tr>
                    <th>გეოლოგიური აგეგმვა</th>
                    <th>ობიექტების რაოდენობა</th>
                    <th>ჭაბურღილები</th>
                    <th>ჭაბურღილების რაოდენობა</th>
                    <th>შურფები</th>
                    <th>შურფების რაოდენობა</th>
                    <th>ლაბორატორიული ტესტი</th>
                    <th>წერტილების რაოდენობა</th>
                    <th>საარქივო ფაილი</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="geologicalTableBody">
                <!-- Data will be populated dynamically here -->
            </tbody>
        </table>
    </div>

    <!-- for Geophysical -->
    <div class="table-responsive-xxl text-center mt-2" style="font-size: x-small;">
        <table class="table align-middle table-bordered rounded-2 border-muted mb-0 bg-white table-striped">
            <thead class="table-success">
                <tr>
                    <th>გეოლოგიური აგეგმვა</th>
                    <th>ობიექტების რაოდენობა</th>
                    <th>ჭაბურღილები</th>
                    <th>ჭაბურღილების რაოდენობა</th>
                    <th>შურფები</th>
                    <th>შურფების რაოდენობა</th>
                    <th>ლაბორატორიული ტესტი</th>
                    <th>წერტილების რაოდენობა</th>
                    <th>საარქივო ფაილი</th>
                    <th>საარქივო ფაილი</th>
                    <th>საარქივო ფაილი</th>
                    <th>საარქივო ფაილი</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="geophysicalTableBody">
                <!-- Data will be populated dynamically here -->
            </tbody>
        </table>
    </div>

    <!-- for Project Data -->
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const projectIdElement = document.getElementById("projectId");
            const projectId = projectIdElement.getAttribute("data-project-id");

            fetch(`/api/project/${projectId}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById("projectName").textContent = data.projects_name;
                    document.getElementById("contractNumber").textContent = data.contract_number;
                    document.getElementById("startTime").textContent = data.start_time;
                    document.getElementById("endTime").textContent = data.end_time;
                    document.getElementById("contractor").textContent = data.contractor;
                    document.getElementById("projLocation").textContent = data.proj_location;
                    document.getElementById("projLatitude").textContent = data.proj_latitude;
                    document.getElementById("projLongitude").textContent = data.proj_longitude;
                })
                .catch(error => console.error('Error fetching project data:', error));
        });
    </script>
{% endblock %}
