.filterMapDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.filterDiv {
    width: 50%;
}
#mapDiv {
    width: 100%;
    height: 28rem;
}
#geophysic_mapDiv{
    width: 100%;
    height: 26rem;
}
.projectImageDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.projectDiv {
    width: 50%;
}
.imageProjectDiv {
    width: 100%;
    height: 26rem;
}
@media (max-width: 992px) {
    .filterMapDiv {
        flex-direction: column-reverse;
    }
    .filterDiv {
        width: 100%;
        font-size: x-small;
    }
    #mapDiv {
        width: 100%;
        height: 25rem;
    }
    #geophysic_mapDiv{
        width: 100%;
        height: 25rem;
    }
    .projectImageDiv {
        flex-direction: column-reverse;
    }
    .projectDiv {
        width: 100%;
    }
    .imageProjectDiv {
        width: 100%;
        height: 20rem
    }
}