{% extends "base.html" %}

{% block title %}
    IesData - View Project
{% endblock %}

{% block body %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/geophysical/geophysic.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/geophysical/geophysicMap.js') }}" defer></script>
    <div id="geophysicalId" data-geophysical-id="{{ geophysical_id }}"></div>
    <div id="projectId" data-project-id=""></div>
    <div class="filterMapDiv">
        {% include "filter_geophysical.html" %}

        <div id="geophysic_mapDiv" class="card mt-2">
            <div id="map" 
                style="width: 100%; height:100%; border: 1px solid #CCC; border-radius: 5px; margin-top:0px;">
            </div>
        </div>
    </div>

    <div class="table-responsive-xxl table-bordered text-center mt-2" style="font-size: small;">
        <table class="table align-middle rounded-2 border-muted mb-0 bg-white">
            <td>
                <a class="btn btn-sm btn-warning" style="font-size: x-small;" href="#">სეისმური პროფილის დამატება</a>
            </td>
            <td>
                <a class="btn btn-sm btn-success" style="font-size: x-small;" href="#">გეოფიზიკური კაროტაჟის დამატება</a>
            </td>
            <td>
                <a class="btn btn-sm btn-primary" style="font-size: x-small;" href="#">ელექტრული პროფილის დამატება</a>
            </td>
            <td>
                <a class="btn btn-sm btn-secondary" style="font-size: x-small;" href="#">გეორადარის დამატება</a>
            </td>
        </table>
    </div>

    <!-- for Seismic profile -->
    <div class="table-responsive-xxl text-center mt-1 mb-2" style="font-size: x-small;">
        <table class="table align-middle table-bordered rounded-2 border-muted mb-0 bg-white table-striped">
            <thead class="table-warning">
                <tr>
                    <th>განედი (x)</th>
                    <th>გრძედი (y)</th>
                    <th>პროფილის სიგრძე</th>
                    <th>საარქივო Image</th>
                    <th>საარქივო Excel</th>
                    <th>VS30</th>
                    <th>VS30 ჭრილი ექსელი</th>
                    <th>გრუნტის კატეგორია ქართული ნორმებით</th>
                    <th>გრუნტის კატეგორია საერთაშორისო ნორმებით</th>
                    <th>მოწოდებული მასალები(PDF)</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="GeophysSeismicTable">
                <!-- Data will be populated dynamically here -->
            </tbody>
        </table>
    </div>

    <!-- for Geophysical logging -->
    <div class="table-responsive-xxl text-center mt-1 mb-2" style="font-size: x-small;">
        <table class="table align-middle table-bordered rounded-2 border-muted mb-0 bg-white table-striped">
            <thead class="table-success">
                <tr>
                    <th>განედი (x)</th>
                    <th>გრძედი (y)</th>
                    <th>პროფილის სიგრძე</th>
                    <th>საარქივო Image</th>
                    <th>საარქივო Excel</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="geophysic_loggingTableBody">
                <!-- Data will be populated dynamically here -->
            </tbody>
        </table>
    </div>


    <!-- for Geophysical electrical -->
    <div class="table-responsive-xxl text-center mt-1 mb-2" style="font-size: x-small;">
        <table class="table align-middle table-bordered rounded-2 border-muted mb-0 bg-white table-striped">
            <thead class="table-primary">
                <tr>
                    <th>განედი (x)</th>
                    <th>გრძედი (y)</th>
                    <th>პროფილის სიგრძე</th>
                    <th>საარქივო Image</th>
                    <th>საარქივო Excel</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="geophysic_electricTableBody">
                <tr>
                    <td>41.1234</td>
                    <td>42.549</td>
                    <td>10</td>
                    <td>test.png</td>
                    <td>test.xlsx</td>
                    <td>
                        <a class="btn btn-info" href="#">Edit</a>
                    </td>
                    <td>
                        <form action="#" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-danger btn-block" onclick="return confirm('Are you sure you want to delete this station?');">Delete</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- for Geophysical georadar -->
    <div class="table-responsive-xxl text-center mt-1 mb-2" style="font-size: x-small;">
        <table class="table align-middle table-bordered rounded-2 border-muted mb-0 bg-white table-striped">
            <thead class="table-secondary">
                <tr>
                    <th>განედი (x)</th>
                    <th>გრძედი (y)</th>
                    <th>პროფილის სიგრძე</th>
                    <th>საარქივო Image</th>
                    <th>საარქივო Excel</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="geophysic_georadarTableBody">
                <tr>
                    <td>41.1234</td>
                    <td>42.549</td>
                    <td>10</td>
                    <td>test.png</td>
                    <td>test.xlsx</td>
                    <td>
                        <a class="btn btn-info" href="#">Edit</a>
                    </td>
                    <td>
                        <form action="#" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-danger btn-block" onclick="return confirm('Are you sure you want to delete this station?');">Delete</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- for Geophysical hazard -->
    <div class="table-responsive-xxl text-center mt-1 mb-5" style="font-size: x-small;">
        <table class="table align-middle table-bordered rounded-2 border-muted mb-0 bg-white table-striped">
            <thead class="table-info">
                <tr>
                    <th>განედი (x)</th>
                    <th>გრძედი (y)</th>
                    <th>სქემის აღწერა</th>
                    <th>PGA (g) 1%</th>
                    <th>PGA (g) 2%</th>
                    <th>PGA (g) 5%</th>
                    <th>PGA (g) 7%</th>
                    <th>PGA (g) 10%</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="geophysic_georadarTableBody">
                <tr>
                    <td>41.1234</td>
                    <td>42.549</td>
                    <td>Test Text</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>2</td>
                    <td>
                        <a class="btn btn-info" href="#">Edit</a>
                    </td>
                    <td>
                        <form action="#" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-danger btn-block" onclick="return confirm('Are you sure you want to delete this station?');">Delete</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- for Project Data -->
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            // const projectIdElement = document.getElementById("projectId");
            // const projectId = projectIdElement.getAttribute("data-project-id");

            fetch(`/api/project/1`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById("projectName").textContent = data.projects_name;
                    document.getElementById("contractNumber").textContent = data.contract_number;
                    document.getElementById("startTime").textContent = data.start_time;
                    document.getElementById("endTime").textContent = data.end_time;
                    document.getElementById("projLocation").textContent = data.proj_location;
                    document.getElementById("projLatitude").textContent = data.proj_latitude;
                    document.getElementById("projLongitude").textContent = data.proj_longitude;
                })
                .catch(error => console.error('Error fetching project data:', error));
        });
    </script>
{% endblock %}
